.informationSection {
    width: 80%;
    height: 81vh;
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
}

.infoForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem auto;
}

.infoTitle {
    font-size: 1.8rem;
}

.infoForm h2{
    font-size: 1.5rem;
    text-align: left;
    margin-top: 0;
}

.infoDescription{
    align-items: flex-start;
    margin: 0rem;
}

.descriptionText {
    text-align: left;
    font-size: var(--text-size);
}

.BtnDiv {
    display: flex;
    width: 80%;
    margin: 2.5rem auto;
    gap: 1rem;
}

.informationBtn {
    width: 12rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dcdcdc;
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    color: #fff;
    font-size: 1rem;
    margin: 0 auto;
    background: var(--color-primary);
    background: var(--color-primary2);
    background: linear-gradient(
      0deg,
      var(--color-primary) 0%,
      var(--color-primary2) 100%
    );
    transition: 0.3s all ease-in;
}

.informationBtn:hover{
    cursor: pointer;
    background: var(--color-primary2);
    background: var(--color-primary);
    background: linear-gradient(
      70deg,
      var(--color-primary2) 10%,
      var(--color-primary) 115%
    );
}

.PDFBtn {
    width: 12rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dcdcdc;
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    color: #fff;
    font-size: 1rem;
    margin: 0 auto;
    background: var(--color-primary);
    background: var(--color-primary2);
    background: linear-gradient(
      0deg,
      var(--color-primary) 0%,
      var(--color-primary2) 100%
    );
    transition: 0.3s all ease-in;
    text-decoration: none;
}

.PDFBtn:hover{
    cursor: pointer;
    background: var(--color-primary2);
    background: var(--color-primary);
    background: linear-gradient(
      70deg,
      var(--color-primary2) 10%,
      var(--color-primary) 115%
    );
}

@media (width <=900px) {
    .descriptionText {
        font-size: var(--text-sizeXS);
    }
}

@media (width <=768px) {
    .informationSection {
        width: 85%;
    }
}

@media (width <= 640px) {
    .infoTitle {
        font-size: var(--sectionTitleFontSizeXs);
        text-align: center;
    }

    .infoForm{
        width: 95%;
    }

    .infoForm h2 {
        font-size: var(--text-size);
    }

    .infoText {
        font-size: 1rem;
        text-align: left;
    }
}