.logoSend {
    width: 5rem;
    height: 5rem;
    display: block;
    margin: 1rem auto 1rem 1rem;
}

.informationTitle {
  font-size: var(--sectionTitleFontSize);
    color: var(--text-color-primary);
    margin: var(--sectionTitleMargin); 
}

.infoText {
  margin: 1rem auto 1rem 1rem;
}

.sendInfoButton {
    width: 12rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dcdcdc;
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    color: #fff;
    font-size: 1rem;
    margin: 0 auto;
    background: var(--color-primary);
    background: var(--color-primary2);
    background: linear-gradient(
      0deg,
      var(--color-primary) 0%,
      var(--color-primary2) 100%
    );
    transition: 0.3s all ease-in;
}

.sendInfoButton:hover {
    cursor: pointer;
    background: var(--color-primary2);
    background: var(--color-primary);
    background: linear-gradient(
      70deg,
      var(--color-primary2) 10%,
      var(--color-primary) 115%
    );
}

.inputContainer {
  display: flex;
  width: 90%;
  margin: 1.5rem auto 1rem auto;
  justify-content: center;
  gap: 1rem;
  height: 3.5rem;
}

.inputDiv {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.inputDiv input {
  height: 1.5rem;
  font-size: 1rem;
}

.inputDiv input::placeholder {
  padding: 0.2rem;
}

.sendError {
  color: red;
  margin: 0.1rem 0 1rem 0;
  font-size: 0.7rem;
  text-align: left;
}

@media (width <= 640px) {
  .SendInformation{
    padding: 1rem 0.5rem;
  }

  .inputDiv {
    width: 45%;
  }

  .inputDiv input::placeholder {
    padding: 0.2rem;
    font-size: 0.85rem;
  }

  .informationTitle {
    font-size: 1.3rem;
    margin-left: 0.5rem;
    text-align: left;
    padding: 0 0.5rem;
  }

}