.experienceSection{
    background-color: black;
    color: white;
    padding-top: 0.5rem;
    height: calc(100vh - 8.6rem);
    width: 100%;
}

.destinationTitle{
    margin: 0.5rem auto;
    font-size: 1.8rem;
}

.destinationSubtitle{
    margin: 0.5rem auto;
    font-size: 1.4rem;
    background-color: black;
}

.destinationBtn{
    border: none;
    padding: 0.6rem 1rem;
    border-radius: 0.5rem;
    color: #fff;
    font-size: 1rem;
    max-width: 400;
    margin: 0.5rem auto 1rem auto;
    background: var(--color-primary);
    background: var(--color-primary2);
    background: linear-gradient(
      0deg,
      var(--color-primary) 0%,
      var(--color-primary2) 100%
    );
    transition: 0.3s all ease-in;
}

.destinationBtn:hover{
    cursor: pointer;
    background: var(--color-primary2);
    background: var(--color-primary);
    background: linear-gradient(
      70deg,
      var(--color-primary2) 10%,
      var(--color-primary) 115%
    );
}

.ExperienceWrapper{
    width: 70vw;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    margin: auto;  
}

.videoWorld{
    height: auto;
    width: 50vw;
}

.frame{
    margin-top: 1rem;
    border: none;
    width: 52vw;
    height: 61vh;
}

@media (width <= 1200px) {
    .frame{
        width: 65vw;
    }
}

@media (width <= 840px) {
    .experienceSection {
        height: calc(100vh - 8.1rem);
        padding-bottom: 1rem;
    }

    .videoWorld{
        width: 70vw;
    }   

    .frame{
        width: 65vw;
        height: 55vh;
    }

    .destinationTitle {
        font-size: var(--sectionTitleFontSizeXs);
    }

    .destinationBtn{
        padding: 0.5rem 0.9rem;
        font-size: 0.9rem;
        margin: 0.5rem auto;
    }
}

@media (width <= 640px) {
    .experienceSection{
        height: calc( 100vh - 4.5rem);
    }
    
    .videoWorld{
        margin-top: 1rem;
        width: 80vw;
    }

    .frame{
        width: 80vw;
        height: 55vh;
    }
}